<div class="container" id="main">
  <div class="jumbotron wrapper">
    <div>
      <h1>
        Welcome to {{ title }}
      </h1>
    </div>    
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <label>Name:</label>
      <input type="text" formControlName="name" class="form-control">
      <label>Email:</label>
      <input type="text" formControlName="email" class="form-control">
      <label>Password:</label>
      <input type="text" formControlName="password" class="form-control"><br>
      <button type="submit" class="float-center btn btn-success">Sign Up!</button>
    </form><br>
    <label>Already have an account? </label><a class="btn" [routerLink]="['/login']">Sign In</a><br>
    <a class="btn" [routerLink]="['/login']">Sign in with Google</a>
  </div>
</div>
