.wrapper {
  text-align: center;
  margin: 10px auto;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  top: 50%;
}

.example-form-field {
  width: 200px;
}

.example-card {
  max-width: 400px;
}
